body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
}
.header {
    background-color: #ffc90e;
    width: 100%; 
    height: 30px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    height: 96.2%;
    width: 80%;
    position: absolute;
}
.panel {
    background-color: black; 
    color: white;
    width: 20%; 
    height:96.2%;
    display: inline-block;
}
.dashboard {
    padding-left: 25px; 
    padding-top: 5px;
    font-weight: bolder;
    display: inline-block;
}

.panel h1{
    margin: 0;
    color: white;
    font-weight: 100;
    font-size: 24px;
    padding: 20px 15px 0px 68px;
    display: inline-block;
}

.panel h1:hover{
    margin: 0;
    background-color: white;
    width: 80%;
    color: black;
    font-weight: 100;
    font-size: 24px;
    padding: 20px 15px 0px 68px;
    display: inline-block;
}

.user{
font-size: 3em;
margin: 10px 0px 0px 40px;
display: inline-block;
}

.Manage{
    margin: 0px 0px 0px 40px;
}
.add{
 background-color:  #ffc90e;
 width: 60px;
 height: 24px;
 text-align: center;
 position: absolute;
 padding-top: 6px;
 padding-left: 8px;
 margin: 10px 0px 0px 40px;
}

.doboz1{
    margin: 80px 40px 0px 40px;
    border-style:solid;
    width: 15%;
    font-size: 10px;
    display: inline-block;
}

.doboz2{
    margin: 80px 40px 0px 20px;
    border-style:solid;
    width: 15%;
    font-size: 10px;
    display: inline-block;
}

.doboz3{
    margin: 80px 40px 0px 20px;
    border-style:solid;
    width: 15%;
    font-size: 10px;
    display: inline-block;
}

.doboz4{
    margin: 30px 40px 0px 20px;
    border-style:solid;
    width: 15%;
    font-size: 10px;
    display: inline-block;
}

.doboz5{
    margin: 30px 40px 0px 40px;
    border-style:solid;
    width: 15%;
    font-size: 10px;
    display: inline-block;
}

.doboz6{
    margin: 30px 40px 0px 20px;
    border-style:solid;
    width: 15%;
    font-size: 10px;
    display: inline-block;
}

.doboz7{
    margin: 30px 40px 0px 20px;
    border-style:solid;
    width: 15%;
    font-size: 10px;
    display: inline-block;
}

.marton7{
    border-radius: 40%;
}

.nev{
    display: inline-block;
    margin-left: 10px;
}

.email{
    display: inline-block;
}

img{
    border-radius: 50%;
}