.body{
 background-color: #f3d3c6;
}

.ablak{
background-image: url(window.jpg);
background-size:cover ;
height: 43.4%;
width: 11%;
margin-top: 13.7%;
margin-left: 28.3%;
position: absolute;
}

.Doboz{
background-color: #00707e;
height: 55%;
width: 25%;
position: absolute;
margin-top: 10%;
margin-left: 70%;
opacity: 45%;
border-radius: 20%;
border-color: #c4a094;
border-style:double;
box-shadow: 40px 20px;
}

.window{
background-color: seagreen;
height: 43.4%;
width: 11%;
margin-top: 13.7%;
margin-left: 28.3%;
position: absolute;
opacity: 0;
}

.home{
    margin-top: 18%;
    margin-left: 25%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

.home:hover{
    text-decoration: underline;
}

.search{
    margin-left: 25%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

.search:hover{
    text-decoration: underline;
}

.about-us{
    margin-left: 25%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

.about-us:hover{
    text-decoration: underline;
}

.buy{
    margin-left: 25%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

.buy:hover{
    text-decoration: underline;
}

.return{
    margin-left: 25%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

.return:hover{
    text-decoration: underline;
}

.push{
    position: absolute;
    display: inline-block;
    margin-top: 37%;
    margin-left:26%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color:grey
}

.copyright{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    color: grey;
    margin-top: 47%;
    margin-left:35%;
    display: inline-block;
    position: absolute;
    text-decoration: underline;

}